{% extends "base.html" %}

{% block content %}
    
<div id="headerwrap" name="home">
  <style>
h1 {
  font-family: 'Brush Script MT', normal;
        color:white;
  font-size: 500px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 300px;
}
</style>
    <h1>sharemybook </h1>
    <p>Some books leave us free and some books make us free.</p>
    <p>See what your friends are sharing today ! </p>
    <p> EXPLORE.CONNECT.DISCOVER</p>
    <a href="#portfolio" class="smoothScroll btn btn-lg">Explore More</a> 
</div>
 


<div id="about" name="about">
  <div class="container">
    <div class="row white">
      <h2 class="centered">ABOUT US</h2>
      <hr>
      <div class="col-md-6"> <img class="img-responsive" src="static/img/about1.jpg" align=""> </div>
      <div class="col-md-6">
        
        <h3>
        <p>Sharemybook runs on a crowd sourced platform model where hosts with libraries, rent, share and connect with passionate readers</p>
        <br>
        <p>Unlike traditional libraries or e-rental services,sharemybook scales not by scaling inventory but by increasing the variety of content and users with similar interests in books.</p>
        </h3>
      </div> 
    </div>
     
  </div>
</div>
 


<div id="services" name="services">
  <div class="container">
    <div class="row ">
      <h2 class="centered">HOW IT WORKS</h2>
      <hr>
      <div>
      <h4 ><p> New incoming guest can register at the site. 
The User profile will mainlyly contain common details such as name , location etc.
The user can put up a short bio and can also select his topic of Interests.
After registrtation , an agent will physically document the books/library and a virtual Book cards will be uploaded to user profile.
New registered users can then schedule visit to home libraries or rent books as displayed on the Host page.</p>
        </h4>
      </div>

    </div>
     
  </div>
</div>



        
  <div id="pouser" name="user">
  <div class="container">
    <div class="row">
    <br><br>
      <h2 class="centered">OUR USERS</h2>
      <hr>
    </div>
    
    <div class="container">
      <div class="row"> 
        
        
        <div class="col-md-4 ">
          <div class="grid mask">
            <figure> <a href="/user"><img class="img-responsive" src="static/img/portfolio/folio01.jpg" alt=""></a>
              <figcaption>
                <h5>Alex Hoffman</h5>
                <a data-toggle="modal" href="/user" class="btn btn-default">View More</a> </figcaption>
               
            </figure>
          
          </div>
          
        </div>
        
       
        
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">User Profile</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static/img/portfolio/folio01-preview.jpg" alt=""></p>
                <p>Bookworm, an avid adrenaline sportster,Nomad,Backpacker,Comics Lover, DC For Life !</p>
                <p><b><a href="#">Visit Site</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
           
        </div>
         
        
        
        <div class="col-md-4">
          <div class="grid mask">
            <figure><a> <img class="img-responsive" src="static/img/portfolio/folio02.jpg" alt=""></a>
              <figcaption>
                <h5>Harvey Spectre</h5>
                <a data-toggle="modal" href="/user" class="btn btn-default">More Details</a> </figcaption>
              
            </figure>
            
          </div>
           
        </div>
        
        
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">User Profile</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static/img/portfolio/folio02-preview.jpg" alt=""></p>
                <p>Bookworm, an avid adrenaline sportster,Nomad,Backpacker,Comics Lover, DC For Life !</p>
                <p><b><a href="#">Visit Site</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
          
        </div>
        
        <div class="col-md-4">
          <div class="grid mask">
            <figure><a><img class="img-responsive" src="static/img/portfolio/folio03.jpg" alt=""></a>
              <figcaption>
                <h5>Barry Allen</h5>
                <a data-toggle="modal" href="/user" class="btn btn-default">More Details</a> </figcaption>
             
            </figure>
            
          </div>
          
        </div>
      </div>
     
        
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">User Profile</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static/img/portfolio/folio03-preview.jpg" alt=""></p>
                <p>Bookworm, an avid adrenaline sportster,Nomad,Backpacker,Comics Lover, DC For Life !</p>
                <p><b><a href="#">Visit Site</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
           
        </div>
         
      
      
      <div class="row">
        <div class="col-md-4 ">
          <div class="grid mask">
            <figure><a> <img class="img-responsive" src="static/img/portfolio/folio04.jpg" alt=""></a>
              <figcaption>
                <h5>Scarlett J</h5>
                <a data-toggle="modal" href="/user" class="btn btn-default">More Details</a> </figcaption>
              
            </figure>
           
          </div>
          
        </div>
       
        
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">User Profile</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static/img/portfolio/folio04-preview.jpg" alt=""></p>
                <p>Bookworm, an avid adrenaline sportster,Nomad,Backpacker,Comics Lover, DC For Life !</p>
                <p><b><a href="#">Visit Site</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
           
        </div>
         
        
        
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <a><img class="img-responsive" src="static/img/portfolio/folio05.jpg" alt=""></a>
              <figcaption>
                <h5>Bruce Wayne</h5>
                <a data-toggle="modal" href="/user" class="btn btn-default">More Details</a> </figcaption>
              
            </figure>
             
          </div>
           
        </div>
        
        
        <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">User Profile</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static/img/portfolio/folio05-preview.jpg" alt=""></p>
                <p>Bookworm, an avid adrenaline sportster,Nomad,Backpacker,Comics Lover, DC For Life !</p>
                <p><b><a href="#">Visit Site</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
          
        </div>
       
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static/img/portfolio/folio06.jpg" alt="">
              <figcaption>
                <h5>Bruce Banner</h5>
                <a data-toggle="modal" href="/user" class="btn btn-default">More Details</a> </figcaption>
              
            </figure>
            
          </div>
           
        </div>
        
        
        <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">User Profile</h4>
              </div>
              <div class="modal-body">
                <p><img class="img-responsive" src="static/img/portfolio/folio06-preview.jpg" alt=""></p>
                <p>Bookworm, an avid adrenaline sportster,Nomad,Backpacker,Comics Lover, DC For Life !</p>
                <p><b><a href="file:///C:/Users/Anirban/Desktop/startbootstrap-portfolio-item-1.0.3/index.html">Visit Profile</a></b></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
           
          </div>
         
        </div>
         
      </div>
      
    </div>
   
  </div>
</div>

<div id="team" name="team">
  <div class="container">
    <div class="row centered">
      <h2 class="centered">MEET OUR TEAM</h2>
      <hr>
      <div class="col-lg-3 centered"> <img class="img img-circle" src="static/img/team/team01.jpg" height="120px" width="120px" alt="">
        <h4><strong>Anirban</strong></h4>
        <p>UI Designer</p>
         </div>
      <div class="col-lg-3 centered"> <img class="img img-circle" src="static/img/team/team02.jpg" height="120px" width="120px" alt="">
        <h4><b>Rahul</b></h4>
        <p>Developer</p>
         </div>
      <div class="col-lg-3 centered"> <img class="img img-circle" src="static/img/team/201057_10151091633453681_1188498874_o.png" height="120px" width="120px" alt="">
        <h4><b>Arvind</b></h4>
        <p>Developer.</p>
         </div>
      <div class="col-lg-3 centered"> <img class="img img-circle" src="static/img/team/team04.jpg" height="120px" width="120px" alt="">
        <h4><b>Akash</b></h4>
        <p>Developer.</p>
        </div>
      <div class="col-lg-8 col-lg-offset-2 centered">
      </div>
    </div>
  </div>
   
</div>

<div id="contact" name="contact">
  <div class="container">
    <div class="row">
      <h2 class="centered">CONTACT US</h2>
      <hr>
      <div class="col-md-4 centered"> <i class="fa fa-map-marker fa-2x"></i>
        <p>BITS Pilani DUBAI CAMPUS<br>
          DIAC, DUBAI 345055
      </div>
      <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
        <p>info@sharemybook.com</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
        <p> +971 55 949 2220 </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <p>Thank You.We appreciate that you’ve taken the time to write us. We’ll get back to you very soon. Please come back and see us often..</p>
        <form id="contact" method="post" class="form" role="form">
          <div class="row">
            <div class="col-xs-6 col-md-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required />
            </div>
            <div class="col-xs-6 col-md-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
            </div>
          </div>
          <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <button class="btn btn btn-lg" type="submit">Send Message</button>
            </div>
          </div>
        </form>
         
      </div>
    </div>
     
    
  </div>
</div>


<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8"><h4>ANGELHACK DEMO: SHAREMYBOOK </h4></div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
          <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}