{% extends "base.html"%}

{% block content%}
     <br>
     <br>
      <form action="" method="post" name="books">
      {{ form.hidden_tag() }}
      <table>
          <tr>
              <td>Say something:</td>
              <td>{{ form.isbn(size=30, maxlength=140) }}</td>
              <td>
              {% for error in form.isbn.errors %}
              <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
          </tr>
          <tr>
              <td></td>
              <td><input type="submit" value="Post!"></td>
              <td></td>
          </tr>
      </table>

      </form>

{% endblock %}